@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon.eot?lbm366");
	src: url("../fonts/icomoon.eot?lbm366#iefix") format("embedded-opentype"),
		url("../fonts/icomoon.ttf?lbm366") format("truetype"), url("../fonts/icomoon.woff?lbm366") format("woff"),
		url("../fonts/icomoon.svg?lbm366#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

._icon-dollar:before {
	content: "\e901";
	position: relative;
	top: -22px;
	font-size: 18px;
	color: rgb(187, 180, 180);
}

._icon-be:before {
	content: "\e900";
	font-size: 20px;
}
._icon-dribbble:before {
	content: "\e902";
	font-size: 20px;
}
._icon-facebook:before {
	content: "\e903";
	font-size: 20px;
}
._icon-linkedin:before {
	content: "\e904";
	font-size: 20px;
}
._icon-twitter:before {
	content: "\e905";
	font-size: 20px;
}
